.padding-20{    
    padding: 3px;
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
    background: #94b7d8;
    cursor: pointer;
    justify-content: center;
    display: flex;
    border-radius: 2%;
    border: 1px solid #EEF5F9;
}