
<div class="row">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Your Accounts</mat-card-title>
      <!-- <mat-card-subtitle><code>&lt;mat-grid-list&gt;</code> is a two-dimensional list view that arranges cells into grid-based layout. See Material Design spec. <a href="https://material.io/guidelines/components/grid-lists.html">here</a></mat-card-subtitle> -->
      <!-- <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>   -->

      <div class="row">
        <div routerLink="/telegram-phone-numbers" class="col-md-12 padding-20" >
            Telegram
        </div>
        
        <div class="col-md-12 padding-20">
            Truth Social
        </div>
        
        <div class="col-md-12 padding-20">
            Email Accounts
        </div>

      </div>
    </mat-card-content>        
</mat-card>
</div>

