<div class="container">
    <mat-card>  
        <mat-card-header> 
             <button style="padding: 20px;" mat-raised-button color="accent" matTooltip="Tooltip!" matTooltipPosition="above">Add new Account</button>
        </mat-card-header>
    <br>
    <div class="row col-md-12">
        <div *ngFor="let element of phoneNumbers" class="col-md-6">
            <mat-card style="background-color: #EEF5F9;">
                <mat-card-header>
                  <mat-card-title>{{element.user_name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="col-md-6">
            
                  <div class="row">
                    <div class="col-md-12 padding-20">
                        <span>Phone Number: {{element.phone}}</span>
                    </div>
                    
                    <div class="col-md-12 padding-20">
                        <span>Number of posts: {{element.phone}}</span>
                    </div>
                    
                    <div class="col-md-12 padding-20">
                        <span>Is active telegram account: {{element.is_active}}</span>
                    </div>
            
                  </div>
                </mat-card-content>        
            </mat-card>
        </div>
    </div>
</mat-card>
</div>




