.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    padding-top: 10vh
}
  
  .card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .text-danger{
    color: red;
    font-size: 10px;
  }
  .m-button{
    margin: 10px;
  }